#forgotten-password {
  opacity: 0;
  position: absolute;
  z-index: -1;
  cursor: pointer;
}

.forgotten-label {
  cursor: pointer;
}

.forgotten-label::after {
  content: url("./assets/play-button.svg");
  margin-left: 10px;
}
